html {
  height: 100%;
}
body {
  background: url("https://i.ytimg.com/vi/TpY2dLeIWjs/maxresdefault.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Righteous', cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.maincontent {
  height: 100%;
  /* max-width: 600px; */
  margin: 0 auto;
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(165, 91, 1, 0.467);
  box-shadow: 0 4px 8px 0 rgba(26, 27, 27, 0.432),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(
    to right,
    rgba(255, 100, 11, 0.335),
    rgba(239, 250, 84, 0.411)
  );
}
